{
	"version": 3,
	"configurePresets": [
		{
			"name": "ALL-WITH-AUTO-DEPLOYMENT",
			"binaryDir": "${sourceDir}/build/ALL",
			"cacheVariables": {
				"AUTO_PLUGIN_DEPLOYMENT": "ON",
				"DEVBENCH_BRIDGE": "ON"
			},
			"environment": {
				"CommunityShadersOutputDir": "F:/MySkyrimModpack/mods/CommunityShaders;F:/SteamLibrary/steamapps/common/Skyrim Special Edition/Data"
			},
			"inherits": "ALL"
		}
	]
}